<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-cf">单位列表</div>
                </div>
                <div class="widget-body am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a class="am-btn am-btn-default am-btn-success am-radius"
                                       href="{:url('goods.unit/add')}">
                                        <span class="am-icon-plus"></span> 新增单位
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-scrollable-horizontal am-u-sm-12">
                        <table width="100%" class="am-table am-table-compact am-table-striped
                         tpl-table-black am-text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>单位名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {if !$list->isEmpty()}
                            {volist name='list' id='vo'}
                            <tr>
                                <td class="am-text-middle">{$vo.id}</td>
                                <td class="am-text-middle">{$vo.name}</td>
                                <td class="am-text-middle">
                                    <div class="tpl-table-black-operation">
                                        <a href="{:url('goods.unit/edit',['id'=>$vo.id])}"  class="tpl-table-black-operation-green">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:" class="tpl-table-black-operation-del item-delete"
                                          data-id="{$vo.id}">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                            {else /}
                            <tr>
                                <td colspan="3" class="am-text-center">暂无记录</td>
                            </tr>
                            {/if}
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf text-center">
                        <div class="am-fr">{$list->render()|raw}</div>
                        <div class="am-fr pagination-total am-margin-right">
                            <div class="am-vertical-align-middle">总记录：{$list->total()}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var url = "{:url('goods.unit/delete')}";
        $('.item-delete').delete('id', url);
    });
</script>

