{extend name="layout/member_base" /}
{block name='member_main'}
<div class="tabmenu">
    <ul class="tab pngFix">
        <li><a href="{:url('member.invoice/index')}">我的发票</a></li>
        <li class="active"><a href="{:url('member.invoice/add')}">新增发票</a></li>
    </ul>
</div>
<div class="alert alert-block">
    <ul>
        <li>企业普通发票 请填写纳税人识别号。</li>
    </ul>
</div>
<div class="dsm-default-form fl" style="width: 100%;">
    <form method="POST" id="my-form" novalidate="novalidate">
        <div class="dsc-form-default">
            <dl>
                <dt>发票类型：</dt>
                <dd>
                    <label><input type="radio" checked="" name="invoice[invoice_state]" value="1">普通发票</label>
                    <label><input type="radio" name="invoice[invoice_state]" value="2">增值税发票</label>
                </dd>
            </dl>
        </div>
        <div id="invoice_panel" class="dsc-form-default" style="display: block;">
            <dl>
                <dt><i class="required">*</i>发票抬头：</dt>
                <dd>
                    <input class="text w200" name="invoice[invoice_title]" id="invoice_title" value="">
                </dd>
            </dl>
            <dl id="invoice_code_dl">
                <dt>纳税人识别号：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_code]" id="invoice_code" value="">
                </dd>
            </dl>
            <dl>
                <dt>发票内容：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_content]"
                           id="invoice_content" value="">
                </dd>
            </dl>
        </div>
        <div id="vat_invoice_panel" class="dsc-form-default" style="display: none">
            <dl>
                <dt><i class="required">*</i>单位名称：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_company]" value="">
                </dd>
            </dl>
            <dl>
                <dt><i class="required">*</i>纳税人识别号：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_company_code]" value="">
                </dd>
            </dl>
            <dl>
                <dt><i class="required">*</i>注册地址：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_reg_addr]" value="">
                </dd>
            </dl>
            <dl>
                <dt><i class="required">*</i>注册电话：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_reg_phone]" value="">
                </dd>
            </dl>
            <dl>
                <dt><i class="required">*</i>开户银行：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_reg_bname]" value="">
                </dd>
            </dl>
            <dl>
                <dt><i class="required">*</i>银行帐户：</dt>
                <dd>
                    <input type="text" class="text w200" maxlength="50" name="invoice[invoice_reg_baccount]" value="">
                </dd>
            </dl>

        </div>
        <dl class="bottom">
            <dt></dt>
            <dd>
                <input type="submit" class="submit" value="保存">
            </dd>
        </dl>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('input[name="invoice[invoice_state]"]').on('click', function () {
            if ($(this).val() == 1) {
                $('#invoice_panel').show();
                $('#vat_invoice_panel').hide();
            } else {
                $('#invoice_panel').hide();
                $('#vat_invoice_panel').show();
            }
        });
        $('#my-form').validate({
            submitHandler: function (form) {
                ajaxpost('my-form');
            },
            rules: {
                'invoice[invoice_title]': {
                    required: true
                },
                'invoice[invoice_company]': {
                    required: true
                },
                'invoice[invoice_company_code]': {
                    required: true
                },
                'invoice[invoice_reg_addr]': {
                    required: true
                },
                'invoice[invoice_reg_phone]': {
                    required: true
                },
                'invoice[invoice_reg_bname]': {
                    required: true
                },
                'invoice[invoice_reg_baccount]': {
                    required: true
                },
                'invoice[invoice_rec_name]': {
                    required: true
                },
                'invoice[invoice_rec_mobphone]': {
                    required: true
                },
                'invoice[area_id]': {
                    required: true,
                    min: 1,
                    checkarea: true
                },
                'invoice[invoice_goto_addr]': {
                    required: true
                }
            },
            messages: {
                'invoice[invoice_title]': {
                    required: '<i class="iconfont">&#xe64c;</i>填写发票抬头'
                },
                'invoice[invoice_company]': {
                    required: '<i class="iconfont">&#xe64c;</i>单位名称不能为空'
                },
                'invoice[invoice_company_code]': {
                    required: '<i class="iconfont">&#xe64c;</i>纳税人识别号不能为空'
                },
                ' invoice[invoice_reg_addr]': {
                    required: '<i class="iconfont">&#xe64c;</i>注册地址不能为空'
                },
                'invoice[invoice_reg_phone]': {
                    required: '<i class="iconfont">&#xe64c;</i>注册电话不能为空'
                },
                'invoice[invoice_reg_bname]': {
                    required: '<i class="iconfont">&#xe64c;</i>开户银行不能为空'
                },
                'invoice[invoice_reg_baccount]': {
                    required: '<i class="iconfont">&#xe64c;</i>银行账户不能为空'
                },
                'invoice[invoice_rec_name]': {
                    required: '<i class="iconfont">&#xe64c;</i>收票人姓名不能为空'
                },
                'invoice[invoice_rec_mobphone]': {
                    required: '<i class="iconfont">&#xe64c;</i>收票人手机号不能为空'
                },
                'invoice[area_id]': {
                    required: '<i class="iconfont">&#xe64c;</i>请选择地区',
                    min: '<i class="iconfont">&#xe64c;</i>请选择地区',
                    checkarea: '<i class="iconfont">&#xe64c;</i>请选择地区'
                },
                ' invoice[invoice_goto_addr]': {
                    required: '<i class="iconfont">&#xe64c;</i>送票地址不能为空'
                }
            }
        });

    });
</script>
{/block}